{% set postgres_version = salt['pillar.get']('postgres:minor_version', '9.1') %}
{% set postgres = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'postgresql-{0}'.format(postgres_version),
        'pgadmin3': 'pgadmin3',
        'python': 'python-pygresql',
        'service': 'postgresql',
        'pg_hba': '/etc/postgresql/{0}/main/pg_hba.conf'.format(postgres_version),
        'config_dir': '/etc/postgresql/{0}/main'.format(postgres_version),
    },
    'RedHat': {
        'pkg': 'postgresql',
        'pgadmin3': 'pgadmin3',
        'python': 'postgresql-python',
        'service': 'postgresql',
        'config_dir': '/var/lib/pgsql/{0}/data'.format(postgres_version),
    },
    'Arch': {
        'pkg': 'postgresql',
        'pgadmin3': 'pgadmin3',
        'python': 'python-psycopg2',
        'service': 'postgresql',
        'config_dir': '/var/lib/postgres/data',
    },
}, merge=salt['pillar.get']('postgres:lookup')) %}
