{% set postgres_version = salt['pillar.get']('postgres:minor_version', '9.1') %}
{% set postgres = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'postgresql-{0}'.format(postgres_version),
        'python': 'python-pygresql',
        'service': 'postgresql',
    },
    'RedHat': {
        'pkg': 'postgresql',
        'python': 'postgresql-python',
        'service': 'postgresql',
    },
    'Arch': {
        'pkg': 'postgresql',
        'python': 'python-psycopg2',
        'service': 'postgresql',
    },
}, merge=salt['pillar.get']('postgres:lookup')) %}
